@use '../../css/variables.scss' as v;
@use '../../css/mixins' as m;

.hero__wrapper {
    width: 100%;
    max-width: 1920px;
    height: 338px;
    @include m.breakpoint(tabletUp) {
        height: 575px;
    }
    position: relative;
    background-color: #fff;
}

.scroll-down-icon {
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4%;
    width: 26px;
    height: 29px;
    @include m.breakpoint(tabletUp) {
        width: 50px;
        height: 56px;
        bottom: -5%;
    }
}

.scroll-down-icon img {
    height: 100%;
    width: auto;
}
