@use '../../css/variables.scss' as v;
@use '../../css/mixins' as m;

.hero__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    height: 338px;
    @include m.breakpoint(desktop) {
        height: 575px;
    }

    position: relative;
    background-color: #fff;
}

.hero-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    @include m.breakpoint(desktop) {
        max-width: 1440px;
        max-height: 575px;
    }
    overflow: hidden;

    .hero-image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        filter: blur(50px);
        //background-image: url('../../images/liquid-mask1.svg');

        background-repeat: no-repeat;
        //mask-image: url('../../images/liquidMask1.png');
        //mask-image: linear-gradient(to bottom, transparent 10%, black);
        //mask-image: url('../../images/hero-image-main.jpg');
        //mask-size: 100% 300%;
        //mask-repeat: no-repeat;
        //mask-position: 0 0;
    }

    .home-image {
        background-image: url('../../images/hero-image-main.jpg');
    }

    .about-image {
        background-image: url('../../images/about-image-main.jpg');
    }
}

.hero-frame {
    visibility: hidden;
    position: absolute;
    width: 303px;
    height: 294px;
    background-image: url('../../images/hero-frame-mobile.png');
    @include m.breakpoint(desktop) {
        width: 666px;
        height: 515px;
        background-image: url('../../images//hero-frame.png');
    }
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h3,
    h2 {
        margin: 0;
        padding: 0;
        color: #9a7aa0;
        font-weight: 400;
        text-transform: uppercase;
        visibility: hidden;
    }
    h3 {
        font-size: 0.9rem;
        @include m.breakpoint(desktop) {
            font-size: 2.25rem;
        }
    }

    h2 {
        font-size: 4.1rem;
        @include m.breakpoint(desktop) {
            font-size: 9.8rem;
        }
        color: #513b56;
        font-weight: 800;
    }
}

.hero-frame__blue {
    h2 {
        color: #2a658a;
    }
    h3 {
        color: #acacac;
    }

    .hero-icons {
        width: 30%;
        height: 2em;
        @include m.breakpoint(desktop) {
            width: 20%;
        }
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        a {
            visibility: hidden;
        }

        img {
            width: 2em;
            height: 2em;
            @include m.breakpoint(tabletUp) {
                width: 3em;
                height: 3em;
            }
            object-fit: contain;
        }
    }
}

.scroll-down-icon {
    visibility: hidden;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4%;
    width: 26px;
    height: 29px;
    @include m.breakpoint(tabletUp) {
        width: 50px;
        height: 56px;
        bottom: -5%;
    }
}

.scroll-down-icon img {
    height: 100%;
    width: auto;
}
