@use "../../css/variables" as v;
@use "../../css/mixins" as m;

.header {
    grid-area: header;

    width: 100%;
    max-height: 56px;
    height: 56px;

    //padding: 0.5rem;
    background-color: v.$header-background;
    color: #111;

    .header__wrapper {
        width: 100%;
        max-width: 1920px;
        height: 100%;
        margin: 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
    }
}

h1 {
    font-family: 'Commissioner', sans-serif;
    color: v.$logo-colour1;
    padding: 0 1.75em 0 1em;
    @include m.breakpoint(tabletUp) {
        padding: 0 2em 0 2em;
    }
    @include m.breakpoint(smallScreen) {
        padding: 0 6.25em 0 0;
    }
    @include m.breakpoint(desktop) {
        padding: 0 3em 0 6.25em;
    }
    margin: 0;
    span {
        color: v.$logo-colour2;
    }
}
