@use "../../css/variables" as v;
@use "../../css/mixins" as m;

.desktop {
    display: none;
    @include m.breakpoint(tabletUp) {
        display: block;
        align-self: flex-end;
        padding: 0 2em 0 0;
    }
    @include m.breakpoint(desktop) {
        padding: 0 6.25em 0 3em;
    }

    ul {
        margin: 0.7em 0 0.5em;
        text-align: center;
        padding: 0;
        white-space: nowrap;
    }

    li {
        display: inline;
        border-right: 0.15em solid v.$nav-colour;
        list-style: none;
    }

    li:last-child {
        border-right: none;
    }
}

.mobile {
    padding-top: 2em;
    ul {
        margin: 0.7em 0 0.5em;
        text-align: center;
        padding: 0;
        white-space: nowrap;
    }

    li {
        display: block;

        list-style: none;
    }
}
