$home-background: #fff;
$header-background: #ffffff;
$logo-colour1: #4e3c54;
$logo-colour2: #acacac;
$nav-colour: #acacac;
$nav-active-colour: #4e3c54;
$text-colour: #252525;
$work-border-colour: #dbdbdb;
$work-boxes-background-colour: #fffdfd;
$work-detail-background-colour: #fcfcfc;

$work-detail-title-background: #4e3c54;
$work-detail-title-colour: #4e3c54;

$font-commissioner: 'Commissioner', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

$hero-colour1: #00a896;
$links: #2a658a;
