@use 'variables' as v;

.App {
    display: grid;
    height: 100%;
    width: 100%;

    overflow: visible;
    background-color: v.$home-background;
    background-image: url('../images/absurdity.png');
    background-repeat: repeat;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';

    overflow-x: hidden;
    //transform: translateX(-240px);
    transition: transform 0.3s ease;
    //left: -240px;

    &__openMobileMenu {
        transform: translateX(-180px);
    }

    &__closeMobileMenu {
        transform: translateX(0px);
    }

    &__main {
        height: 100%;
        width: 100%;

        position: relative;
        margin: 0 auto;
    }
}
