@import './variables.scss';

.App {
    display: grid;
    height: 100vh;
    background-color: $home-background;
    grid-template-columns: repeat(auto-fill, minmax(0, 100vw));
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
}
